body{
    background: black;
}
 .background{
    background: black;
 }
 .container-fluid{
    background-color: #D9D9D9;
 }
.nav-item{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px; 
    display: flex;
    color: black;
    padding: 20px;
    
}
#navbarDropdown{
    color: #000000;
}

.btn-outline-success {
    background-color: #EA33F7;
    color: #000000;
}



.smLogo{
    display: block;
    margin: auto;
    padding-top: 100px;
}

.searchbar{
    box-sizing: border-box;
    width: 804px;
    height: 105px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 75px;
    display: block;
    margin: auto;
   
}
h5{
    color: white;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Fredoka', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 45px;
padding: 20px;
background: linear-gradient(90.11deg, #FFFFFF 0.09%, #FFD233 0.1%, #FC50D6 14.65%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin-left: 65px;

}

h4{
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    margin-left: 65px;

}
.card-img-top{
    width: 50%;
    display: block;
    margin: auto;
}
.card-title{
    font-family: 'Fredoka', sans-serif;
    color: #000000;
    display: block;
    margin-left: 0px;
}
.card-text{
    font-family: 'Roboto', sans-serif; 
    font-size: x-small; 
    display: inline-block;
}
.card{
    padding-top: 50px;
    background: linear-gradient(337.21deg, #EAEDE0 35.27%, rgba(239, 204, 109, 0) 99.02%);

background: #FAF3DE;
margin: 10px;
}
.btn{
    border: 2px solid #111111;
    border-radius: 8px;
    background-color: transparent;
    color: #000000;
}
.btm-primary{
   
}
.carousel{
    padding: 75px;

}
h2{
    color: #FFFFFF;
    padding-bottom: 45px;
    margin-top: 75px;
}
h3{
    color: #FFFFFF;
    padding: 10px;

}
.community{
    display: block;
    margin: auto;
    padding: 50px;
}

.join{
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #414B5F;
    display: block;
    margin: auto;  
}
.browse{
    border: 2px solid #111111;
    border-radius: 8px;
    background-color: transparent;
    color: #ffffff;
    display: block;
    margin: auto;
}
/* 
    font-family: 'Roboto', sans-serif; 
     <div class="container">
    <div class="row g-3">
      <div class="col-md-4">
*/